pip-tools
cryptography
docker
flask
Flask-Login
Flask-Bcrypt
Flask-SQLAlchemy
pdf2image
pyzipper
pytesseract
qrcode
schedule
stdiomask

#dicom
pydicom
numpy
matplotlib
nltk
wordcloud

#chroma# need to finesse this. will use pymupdf
chromadb
tqdm
PyMuPDF 
pandas 
unidecode
