pip-tools
cryptography
docker
flask
Flask-Login
Flask-Bcrypt
Flask-SQLAlchemy
pdf2image
pyzipper
pytesseract
qrcode
schedule
stdiomask
pydicom
numpy
matplotlib
nltk
wordcloud
chromadb
tqdm
PyMuPDF 
pandas 
unidecode
ollama
