<!DOCTYPE html>
<html>

<head>
  <title>WHYs WHATs WHOs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
 
 <style>
 body{
 background-color: #DCDCDC;
 } 
 </style>
   
</head>

<body>
<button class="done-button" onclick="window.close()">Done</button>


	
<h1 style="font-family: 'Roboto', sans-serif; font-size: 35px; font-weight: bold; color: black; font-style: bold;text-align: center;">QR, PASSWORD CHANGE & OTHER TIPS</h1>
    <h2 style="font-family: 'Roboto', sans-serif; font-size: 25px; font-weight: bold; color: black; font-style: bold;text-align: center;">DARNA.HI</h2>
    

 



<!--First Container --> 
 <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 40px;">
 <span> Own your Health future! Few things Darna.HI can do for you.</span>
 <br><br>
  <img src="{{ url_for('static', filename='darnav2_mktg.png') }}" width="340" height="600" alt="MKTG"> 
</div>





</div>
<div style="display: flex; flex-direction: column; justify-content: left; margin-top: 40px; color:black;">
 
 <p>
 1. <a <li><a href="/register" target="_blank" class="Password change"><img alt="CHANGE PASSWORD"></a></li></a></p>
 <p>
 2. <a href="#qrcode">Connect other devices using QR Code.</a> </p>

 <p>
 3.  <a href="#upload"> What are the tags in 'Upload' and what are the directories for?</a> </p>

 <p>
 4.  <a href="#rsync"> What does Analyze card do?.</a> </p>
 <p>
 5. <a href="#hi">How to generate personalized Health Intents and wordcloud for yourself?</a> 
 </p> 
 <p>
 6. <a href="#deid">How to deidentify your Health data and why?</a> 
 </p> 
  <p>
 7. <a href="#pi"> What is Sky Store?</a></p>
  <p>
 8. <a href="mailto:pmqa1980@gmail.com"> Email feedback to Darna creator </a></p>

 


</div>
   <!-- Second Container -->
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 40px;">
    <img src="{{ url_for('static', filename='qrcode.png') }}" width="150" height="150" alt="QR Code">
    <br><br>
    <span>Scan QR Code to Connect other Devices</span>
    <span>Please Scan QR Code above with your device camera to connect other devices to Darnahi Server on local network.</span>
  </div>

<div style="display: flex; flex-direction: column; justify-content: left; margin-top: 40px;">
<h3 style="font-family: 'Roboto', sans-serif; font-size: 20px; font-weight: bold; color: black; font-style: bold;text-align: center;">Connect other devices using QR Code </h3>
<p id="qrcode">
 </p> <p>
This guide allows you to connect other devices to your Darna Server. It does require you to have camera enabled to scan QR codes:
 </p> <p>
 1.  Open "camera app" on your iOS or Android. When pointed to QR code at top of screen it should give you a link to click on. Click on link.
 </p> <p>
 2.  On the bottom ribbon of browser window on your iOS device, click on '⮹'. Then choose 'Add to home screen'. 
  </p> <p>
 3.  This link will now allow you to launch the server directly from your home screen when connected to local WIFI where the server is enabled as a WebApp.
  </p> <p>
  
</div>

<div style="display: flex; flex-direction: column; justify-content: left; margin-top: 40px;">
<h3 style="font-family: 'Roboto', sans-serif; font-size: 20px; font-weight: bold; color: black; font-style: bold;text-align: center;">What are the tags in 'Upload' and what are the directories for?</h3>
<p id="upload">
 </p> <p>
Upload allows you to upload files from any other device or phone to upload files to the Darna.HI server. With drop down menu you could either tag it as a 'Health File' or a 'Regular File'.
 </p> <p>
 1. Health File: It is any health document you would like to save for obvious reasons. Tagging it allows it to be catalogued to the right subdirectory. The Health subdirectories are 'summary' and 'ocr_files'. 
 </p> <p>
 2.  Regular Files: Are any non health file that you would like to store on your health server but isnt a HealthFile. It gets stored in the main folder but untagged. Please note however iOS health file, 'export.zip' is preferred to be stored via this tag.
  </p> <p>
                 In future 'Export.zip' file containing your iOS health kit is available in 'Upload' directory and tagged a 'Regular File', it will unzip that file, initate Grafana and Influxdb, populate influxdb with your records.
  </p>
  <p>
 3. The 'summary' folder is where you 'Health' tagged files are stored. When you want to make a secure zip file to share, all the files in 'summary' get zipped. The default password is '2023'. You could change it in the darna.py code if you wish. It is hardcoded for obvious reasons.
  </p>
  <p>
 4. The 'ocr_files' folder is where your 'Health' tagged files of pdf, jpg, png and even json ext are stored. When Analyze-card is run it OCR's the files and stores it as a deidentified text dump in Darna_tesseract subdirectory.
  </p>
   <p>
 5. The 'Darna_tesseract' folder is where your 'Analyze' card stores relevant files. Files such as deidentified records, Personalized Health intents, wordclouds, NLP generated jsons are stored.
  </p>
  </div>
  
  <div style="display: flex; flex-direction: column; justify-content: left; margin-top: 40px;">
<h3 style="font-family: 'Roboto', sans-serif; font-size: 20px; font-weight: bold; color: black; font-style: bold;text-align: center;">What does 'Analyze it' card do?.</h3>
<p id="rsync">
 </p> <p>
Im glad you asked. 'ANALYZE IT' has many functions mashed into one. Once you enter your age, sex, and words to de-identify separated by "|" It generates a list of recommended medical screenings for your age based on USPSTF guidelines.
 </p> <p>
 It uses OCR to extract data from your uploaded files It runs simple NLP to get medical data organized by headings It vectorizes and chunks up the data It creates a word cloud of your recent uploaded data
 </p> <p>
It creates a vectorized database for the local LLM This allows the LLM to access your data and provide personalized answers to your medical questions.

</p> <p>
How about the 'Chart it' Card?
</p> <p>
</p> <p>
 It allows you to enter your past medical history and update your list of medications in a standard FHIR format. This information gets stored in the 'summary' folder. When you share an encrypted zip file with your healthcare provider, they can access your past medical history and current medication list in a format compatible with electronic medical records (EMRs). Additionally, it creates a database from your entered information that the vectorizer can use when you ask health-related questions to the local language model.
</p> <p>
So in summary, it lets you securely share your medical details with providers while also building a personalized database to enable the AI to provide tailored health insights based on your specific medical background.
  </p>
  </div>

<div style="display: flex; flex-direction: column; justify-content: left; margin-top: 40px;">
<h3 style="font-family: 'Roboto', sans-serif; font-size: 20px; font-weight: bold; color: black; font-style: bold;text-align: center;">How to generate personalized Health Intents for yourself? </h3>
<p id="hi">
 </p> 
 <!-- fourth Container --> 
 <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 40px;">
 <span> As outlined above, Darna.HI has an analytic engine that can generate personalized Health Intents for you depending on your age and sex. Please note however Darna.HI is beta and might contain errors. Please go to USPTF for comprehensive information. The intents are guidelines based.</span> <br><br>
  <img src="{{ url_for('static', filename='darna_information.png') }}" width="340" height="600" alt="health intent"> 
</div>
  
</div>

<div style="display: flex; flex-direction: column; justify-content: left; margin-top: 40px;">
<h3 style="font-family: 'Roboto', sans-serif; font-size: 20px; font-weight: bold; color: black; font-style: bold;text-align: center;">How to deidentify your Health data and why? </h3>
<p id="deid">
 </p> <!-- fifth Container --> 
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 40px;">
<span> Darna.HI has an analytic engine that can deidentify your health data so that you can engage with LLM's. Please note however Darna.HI is beta. Please review file thoroughly before sharing. </span> <br><br>
  <img src="{{ url_for('static', filename='deidentify.png') }}" width="340" height="600" alt="deidentify"> 
</div>
  
 </div>
 <div style="display: flex; flex-direction: column; justify-content: left; margin-top: 40px;">
<h3 style="font-family: 'Roboto', sans-serif; font-size: 20px; font-weight: bold; color: black; font-style: bold;text-align: center;">What is Sky Store? </h3>
<p id="pi">
 </p> <p>
The Sky store is a optional card installer. It is Docker based. It's a one click docker container installer that launches a static site to interact with the docker container.
 </p> <p>
 1.  Click Install to begin installing the Card.
 </p> <p>
 2.  It does require docker to be installed on your computer. 
  </p> <p>
  
 3.  Tailscale is highly recommended to be installed. It allows enterprise grade remote access to Darna Server. We are not involved in development or maintenance of Tailscale. Tailscale additionally requires an iOS or Android app to be able to remote access your Darna.HI server.
  </p><p>
 4.  We hope to add more cards in future to the Sky Store.
  </p>
  
</div>

 <div style="display: flex; flex-direction: column; justify-content: left; margin-top: 40px;">
<h3 style="font-family: 'Roboto', sans-serif; font-size: 20px; font-weight: bold; color: black; font-style: bold;text-align: center;">Wht Monero Node card is in Sky Store? </h3>
<p id="pi">
 </p> <p>
 We support Monero!
 </p> <p> 
In the realm of financial privacy, the use of cryptocurrencies like Monero can play a role in enhancing users' security. Monero is a privacy-focused cryptocurrency that provides anonymity and obfuscation of transaction details. This can be particularly relevant in healthcare contexts.

 </p> <p>
 1.  Click Install to begin installing the Card.
 </p> <p>
 2.  It does require docker to be installed on your computer. 
  </p> <p>
  

You could choose to support the XMR network by running a node on your computer. More nodes make the network more resilient and futureproofs it.
  </p>
  
</div>

 <div style="display: flex; flex-direction: column; justify-content: left; margin-top: 40px;">
<h3 style="font-family: 'Roboto', sans-serif; font-size: 20px; font-weight: bold; color: black; font-style: bold;text-align: center;">Kill Switch </h3>
<p id="pi">
 </p> <p>
Kill Switch shuts down the Server on your home computer. It also shuts down the Darnabot running on port :3012.
 </p> <p>
Please note it can only be restarted when you are near your home computer.
 </p> <p>
It might not shut down the running docker containers.
  </p> 
  
</div>

<!-- Central Red Button with the stop icon -->
<div style="display: flex; justify-content: center; height: 5vh;">
    <a href="/shutdown">
        <button type="button" class="choice_button" style="background-image: radial-gradient(circle, #FF2400, #FF4433);">
            <div class="button_content"><i class="fas fa-power-off"></i><span></span></div>
        </button>
    </a>
</div>



</div>

</body>
</html>

 
