<!DOCTYPE html>
<html>
<head>
    <title>Error page</title>
    <script type="text/javascript">
        window.onload = function() {
            // Close the current browser window
            window.close();
        };
    </script>
</head>
<body>
    <h1 style="font-family: Calibri, sans-serif; font-size: 30px; font-weight: bold; color: darkblue; font-style: bold;text-align: center;">Error 404 Encountered</h1>
    <h2 style="font-family: Calibri, sans-serif; font-size: 20px; font-weight: bold; color: darkblue; font-style: bold;text-align: center;">Page will try to close. Please close the window and report the error. :(</p>
</body>
</html>

