<!DOCTYPE html>
<html>
<head>
  <title>DARNA.HI</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/static/styles2.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/styles2.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    .vertical-grid-container {
      background-color: lightgray;
      padding: 20px;
      overflow-y: auto;
    }

    .link-box {
      background-color: #f2f2f2;
      padding: 10px;
      margin-bottom: 10px;
      text-decoration: none;
      color: inherit;
      display: block;
    }
    
    
  </style>
</head>
<body onload="hideAddressBar()">
<button class="done-button" onclick="window.close()">Done</button>
  <div class="text">
    <h1 style="font-family: Roboto, sans-serif; font-size: 45px; font-weight: bold; color: black; font-style: bold; text-align: center;">DIRECTORY</h1>
    <h2 style="font-family: Roboto, sans-serif; font-size: 30px; font-weight: regular; color: black; font-style: bold; text-align: center;">DARNA.HI</h2>
    <div class="vertical-grid-container">
      <a href="https://www.aetna.com/about-us/login.html" target="_blank" class="link-box">Aetna</a>
      
      <a href="https://www.athenahealth.com/patient-login" target="_blank" class="link-box">Athena</a>
     
      <a href="https://open.allscripts.com/patient/Account/Login" target="_blank" class="link-box">AllScripts</a>
      <a href="https://www.bcbs.com/login" target="_blank" class="link-box">Blue Cross/ Shield</a>
      
      
      <a href="https://cernerhealth.com/" target="_blank" class="link-box">Cerner</a>
      <a href="https://my.cigna.com/web/public/guest" target="_blank" class="link-box">Cigna</a>
      
      <a href="https://mychart.minuteclinic.com/MyChartPRD/Authentication/Login?" target="_blank" class="link-box">CVS</a>
      <a href="https://myfhr.careevolution.com/" target="_blank" class="link-box">CareEvolution</a>
      <a href="https://www.mychart.org/LoginSignup" target="_blank" class="link-box">Epic</a>
      <a href="https://mycw39.eclinicalweb.com/region7/jsp/100mp/login_otp.jsp" target="_blank" class="link-box">EClinical Works</a>
      <a href="https://myhealthrecord.com/Portal/SSO" target="_blank" class="link-box">GreenWay Health</a>
      
      <a href="https://healthy.kaiserpermanente.org/consumer-sign-on#/signon" target="_blank" class="link-box">Kaiser Permanente</a>
      <a href="https://www.medicare.gov/account/login" target="_blank" class="link-box">Medicare</a>
      
      <a href="https://login.onemedical.com/" target="_blank" class="link-box">One Medical</a>
      
      <a href="https://www.myhealth.va.gov/mhv-portal-web/user-login" target="_blank" class="link-box">VA Health</a>
    </div>
  </div>
</body>
</html>
